In [1]:
import pandas as pd
import os

In [2]:
!curl https://www1.nyc.gov/assets/planning/download/zip/data-maps/open-data/nyc_pluto_18v1.zip > pluto_data.zip

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 46.0M  100 46.0M    0     0  79.7M      0 --:--:-- --:--:-- --:--:-- 79.6M

In [3]:
print("PUIdata", os.getenv("PUIDATA"))

PUIdata /nfshome/mbh329/PUIdata

In [4]:
!ls $PUIDATA

201808-citibike-tripdata.csv	  busdata.txt  pluto_data.zip  PUI2018
201808-citibike-tripdata.csv.zip  hw.txt       PLUTO_for_WEB

In [5]:
!unzip -o pluto_data.zip

Archive:  pluto_data.zip
  inflating: PLUTO_for_WEB/BK_18v1.csv
  inflating: PLUTO_for_WEB/BX_18v1.csv
  inflating: PLUTO_for_WEB/MN_18v1.csv
  inflating: PLUTO_for_WEB/PLUTODD18v1.pdf
  inflating: PLUTO_for_WEB/PlutoReadme18v1.pdf
  inflating: PLUTO_for_WEB/QN_18v1.csv
  inflating: PLUTO_for_WEB/SI_18v1.csv

In [6]:
!ls

CartoDBQueryingB.ipynb		hw5_assn2-Copy1.ipynb  PUI2018_mbh329
gittest_mbh329			hw5_assn2-Copy2.ipynb  PUIdata
gittest_shy256			hw5_assn2.ipynb        PUI STUFF.ipynb
hw4_assn1_distributions_.ipynb	Max_Work_Folder        python_bookcamp.ipynb
hw4_assn1_distributions.ipynb	name_night.py	       Python_bootcamp
hw4_assn2-Copy1.ipynb		pluto_data.zip	       python_bootcamp.txt
hw4_assn2.ipynb			PLUTO_for_WEB	       README.md
hw4_assn3_ztest.ipynb		practice_assn5.ipynb   Untitled1.ipynb
hw4_example.ipynb		projects
hw5_assn1.ipynb			PUI2018

In [7]:
!mv PLUTO_for_WEB $PUIDATA

mv: cannot move 'PLUTO_for_WEB' to '/nfshome/mbh329/PUIdata/PLUTO_for_WEB': Directory not empty

In [8]:
!ls $PUIDATA

201808-citibike-tripdata.csv	  busdata.txt  pluto_data.zip  PUI2018
201808-citibike-tripdata.csv.zip  hw.txt       PLUTO_for_WEB

In [9]:
!ls $PUIDATA/PLUTO_for_WEB

BK_18v1.csv  MN_18v1.csv      PlutoReadme18v1.pdf  SI_18v1.csv
BX_18v1.csv  PLUTODD18v1.pdf  QN_18v1.csv

In [10]:
manhattan_df = pd.read_csv('%s/PLUTO_for_WEB/MN_18v1.csv'%os.getenv("PUIDATA"))

#make sure to name the df's unique but keep _df so you know that its a df

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (20,23,24,26,64) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
manhattan_df

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_Flag,PFIRM15_Flag,Version
0,MN,1,10,101,5.00,1011.0,2.0,1.0,10004.0,E007,...,Y,199 999,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
1,MN,1,101,101,1.00,1001.0,2.0,1.0,10004.0,E007,...,Y,199 999,10101.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
2,MN,1,201,101,1.00,1000.0,2.0,1.0,10004.0,E007,...,NaN,199 999,10101.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
3,MN,1,301,101,NaN,NaN,2.0,1.0,10004.0,E007,...,NaN,199 999,10101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
4,MN,1,401,101,NaN,NaN,2.0,1.0,10004.0,E007,...,NaN,1 99 999,10101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
5,MN,2,1,101,9.00,1025.0,2.0,1.0,10004.0,L015,...,NaN,101N100,10101.0,NaN,1.000020e+09,08/07/2012,1,1.0,1.0,18V1
6,MN,2,2,101,9.00,1025.0,2.0,1.0,10004.0,L015,...,NaN,11N 100,10101.0,NaN,1.000020e+09,08/07/2012,1,1.0,1.0,18V1
7,MN,2,3,101,9.00,NaN,2.0,1.0,10004.0,L015,...,NaN,101N100,10101.0,NaN,1.000020e+09,08/07/2012,1,1.0,1.0,18V1
8,MN,2,23,101,9.00,1025.0,2.0,1.0,10004.0,L015,...,NaN,101N100,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
9,MN,3,1,101,319.00,1000.0,2.0,1.0,10004.0,L015,...,NaN,101S087,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
10,MN,3,2,101,9.00,1020.0,2.0,1.0,10004.0,L015,...,NaN,101S086,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
11,MN,3,3,101,9.00,1020.0,2.0,1.0,10004.0,L015,...,NaN,101S087,10101.0,NaN,1.000030e+09,08/05/2009,1,1.0,1.0,18V1
12,MN,3,4,101,15.02,3000.0,2.0,1.0,10004.0,E205,...,NaN,11S 087,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
13,MN,3,10,101,319.00,1003.0,2.0,1.0,10004.0,L015,...,NaN,101S087,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
14,MN,4,7501,101,9.00,1019.0,2.0,1.0,10004.0,L015,...,NaN,101S001,10101.0,NaN,1.000040e+09,12/03/1993,1,1.0,1.0,18V1
15,MN,5,10,101,9.00,1017.0,2.0,1.0,10004.0,L015,...,NaN,101S002,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
16,MN,5,7501,101,9.00,1017.0,2.0,1.0,10004.0,L015,...,NaN,101S002,10101.0,NaN,1.000050e+09,05/16/1995,1,1.0,1.0,18V1
17,MN,6,1,101,9.00,1017.0,2.0,1.0,10004.0,L015,...,NaN,101S002,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
18,MN,7,27,101,9.00,1016.0,2.0,1.0,10004.0,L015,...,NaN,101S002,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
19,MN,7,28,101,9.00,1016.0,2.0,1.0,10004.0,L015,...,NaN,101S002,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
20,MN,7,29,101,9.00,1016.0,2.0,1.0,10004.0,L015,...,NaN,101S002,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
21,MN,7,30,101,9.00,1016.0,2.0,1.0,10004.0,L015,...,NaN,101S002,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
22,MN,7,31,101,9.00,1016.0,2.0,1.0,10004.0,L015,...,NaN,101S002,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
23,MN,7,33,101,9.00,1016.0,2.0,1.0,10004.0,L015,...,NaN,101S002,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
24,MN,7,35,101,9.00,1016.0,2.0,1.0,10004.0,L015,...,NaN,101S002,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
25,MN,7,37,101,9.00,1016.0,2.0,1.0,10004.0,L015,...,NaN,101S002,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
26,MN,7,38,101,9.00,1016.0,2.0,1.0,10004.0,L015,...,NaN,101S002,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
27,MN,7,7501,101,9.00,1016.0,2.0,1.0,10004.0,L015,...,NaN,101S002,10101.0,NaN,1.000070e+09,12/12/1990,1,1.0,1.0,18V1
28,MN,7,7502,101,9.00,1016.0,2.0,1.0,10004.0,L015,...,NaN,101S002,10101.0,NaN,1.000070e+09,06/08/2007,1,1.0,1.0,18V1
29,MN,8,39,101,9.00,1015.0,2.0,1.0,10004.0,L015,...,NaN,101S001,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42936,MN,2248,24,112,295.00,1000.0,6.0,10.0,10034.0,E095,...,NaN,112 056,10804.0,NaN,0.000000e+00,NaN,1,NaN,NaN,18V1
42937,MN,2248,28,112,295.00,1000.0,6.0,10.0,10034.0,E095,...,NaN,112 056,10804.0,NaN,0.000000e+00,NaN,1,NaN,NaN,18V1
42938,MN,2248,32,112,295.00,1000.0,6.0,10.0,10034.0,E095,...,NaN,112 056,10804.0,NaN,0.000000e+00,NaN,1,NaN,NaN,18V1
42939,MN,2248,36,112,295.00,1000.0,6.0,10.0,10034.0,E095,...,NaN,112 056,10804.0,NaN,0.000000e+00,NaN,1,NaN,NaN,18V1
42940,MN,2248,40,112,295.00,1000.0,6.0,10.0,10034.0,E095,...,NaN,112 056,10804.0,NaN,0.000000e+00,NaN,1,NaN,NaN,18V1
42941,MN,2248,92,112,295.00,4000.0,6.0,10.0,10034.0,E095,...,NaN,112 056,10804.0,NaN,0.000000e+00,NaN,1,NaN,NaN,18V1
42942,MN,2248,109,112,295.00,1000.0,6.0,10.0,10034.0,E095,...,NaN,112 056,10804.0,NaN,0.000000e+00,NaN,1,NaN,NaN,18V1
42943,MN,2248,111,112,295.00,1000.0,6.0,10.0,10034.0,E095,...,NaN,112 056,10804.0,NaN,0.000000e+00,NaN,1,NaN,NaN,18V1
42944,MN,2248,112,112,295.00,1000.0,6.0,10.0,10034.0,E095,...,NaN,112 056,10804.0,NaN,0.000000e+00,NaN,1,NaN,NaN,18V1
42945,MN,2248,117,112,295.00,1000.0,6.0,10.0,10034.0,E095,...,NaN,112 056,10804.0,NaN,0.000000e+00,NaN,1,NaN,NaN,18V1
42946,MN,2248,7501,112,295.00,1000.0,6.0,10.0,10034.0,E095,...,NaN,112 056,10804.0,NaN,1.022480e+09,08/04/2008,1,NaN,NaN,18V1
42947,MN,2250,14,112,303.00,3000.0,6.0,10.0,10034.0,E095,...,NaN,112 074,10804.0,NaN,0.000000e+00,NaN,1,NaN,NaN,18V1
42948,MN,2250,18,112,303.00,3000.0,6.0,10.0,10034.0,E095,...,NaN,112 074,10804.0,NaN,0.000000e+00,NaN,1,NaN,NaN,18V1
42949,MN,2250,23,112,303.00,3000.0,6.0,10.0,10034.0,E095,...,NaN,112 074,10804.0,NaN,0.000000e+00,NaN,1,NaN,NaN,18V1
42950,MN,2250,27,112,303.00,3000.0,6.0,10.0,10034.0,E095,...,NaN,112 074,10804.0,NaN,0.000000e+00,NaN,1,NaN,NaN,18V1
42951,MN,2250,32,112,303.00,3000.0,6.0,10.0,10034.0,E095,...,NaN,112 074,10804.0,NaN,0.000000e+00,NaN,1,NaN,NaN,18V1
42952,MN,2250,50,112,307.00,3001.0,6.0,10.0,10034.0,E095,...,NaN,112 074,10804.0,NaN,0.000000e+00,NaN,1,NaN,NaN,18V1
42953,MN,2250,54,112,307.00,3001.0,6.0,10.0,10034.0,E095,...,NaN,112 074,10804.0,NaN,0.000000e+00,NaN,1,NaN,NaN,18V1
42954,MN,2250,58,112,307.00,3001.0,6.0,10.0,10034.0,E095,...,NaN,112 074,10804.0,NaN,0.000000e+00,NaN,1,NaN,NaN,18V1
42955,MN,2250,68,112,307.00,3001.0,6.0,10.0,10034.0,E095,...,NaN,112 074,10804.0,NaN,0.000000e+00,NaN,1,NaN,NaN,18V1
42956,MN,2250,72,112,307.00,3001.0,6.0,10.0,10034.0,E095,...,NaN,112 074,10804.0,NaN,0.000000e+00,NaN,1,NaN,NaN,18V1
42957,MN,2250,75,112,307.00,3001.0,6.0,10.0,10034.0,E095,...,NaN,112 074,10804.0,NaN,0.000000e+00,NaN,1,NaN,NaN,18V1
42958,MN,2250,78,112,307.00,3001.0,6.0,10.0,10034.0,E095,...,NaN,112 074,10804.0,NaN,0.000000e+00,NaN,1,NaN,NaN,18V1
42959,MN,2250,80,112,307.00,3001.0,6.0,10.0,10034.0,E095,...,NaN,112 074,10804.0,NaN,0.000000e+00,NaN,1,NaN,NaN,18V1
42960,MN,2250,84,112,307.00,3001.0,6.0,10.0,10034.0,E095,...,NaN,112 074,10804.0,NaN,0.000000e+00,NaN,1,NaN,NaN,18V1
42961,MN,2250,86,112,307.00,3001.0,6.0,10.0,10034.0,E095,...,NaN,112 074,10804.0,NaN,0.000000e+00,NaN,1,NaN,NaN,18V1
42962,MN,2250,158,112,307.00,3001.0,6.0,10.0,10034.0,E095,...,NaN,112 074,10804.0,NaN,0.000000e+00,NaN,1,NaN,NaN,18V1
42963,MN,2255,1,112,297.00,1000.0,6.0,10.0,10034.0,E095,...,Y,112 074,10804.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
42964,MN,2255,1031,112,297.00,NaN,6.0,10.0,10034.0,E095,...,Y,112 074,10804.0,NaN,0.000000e+00,NaN,1,1.0,NaN,18V1
42965,MN,2255,2000,112,297.00,1.0,6.0,10.0,10034.0,NaN,...,Y,112 074,10804.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1

In [12]:
brooklyn_df = pd.read_csv('%s/PLUTO_for_WEB/BK_18v1.csv'%os.getenv("PUIDATA"))

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (19,20,22,23,24,25,26,64,65,80) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
brooklyn_df

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version
0,BK,1,1,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,3.000010e+09,11/26/2013,1,1.0,1.0,18V1
1,BK,1,50,302,21.0,2000.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,E-231,0.000000e+00,NaN,1,1.0,1.0,18V1
2,BK,1,7501,302,21.0,2000.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,3.000010e+09,03/04/2016,1,1.0,1.0,18V1
3,BK,3,1,302,21.0,3002.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
4,BK,3,5,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
5,BK,3,35,302,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,302 007,3.0,NaN,NaN,NaN,5,NaN,NaN,18V1
6,BK,5,1,302,21.0,3001.0,13.0,33.0,11201.0,L118,...,NaN,302 008,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
7,BK,5,8,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,300 000,30101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
8,BK,6,1,302,21.0,3000.0,13.0,33.0,11201.0,E207,...,NaN,302 009,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
9,BK,6,10,302,21.0,NaN,13.0,33.0,11201.0,E207,...,NaN,302 009,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
10,BK,6,100,302,21.0,NaN,13.0,33.0,11201.0,E207,...,NaN,302 009,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
11,BK,6,200,302,21.0,NaN,13.0,33.0,11201.0,E207,...,NaN,302 009,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
12,BK,6,300,302,21.0,NaN,13.0,33.0,11201.0,E207,...,NaN,302 009,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
13,BK,7,1,302,21.0,2008.0,13.0,33.0,11201.0,E205,...,NaN,302 006,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
14,BK,7,9,302,21.0,2007.0,13.0,33.0,11201.0,L118,...,NaN,302 006,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
15,BK,7,12,302,21.0,2000.0,13.0,33.0,11201.0,L118,...,NaN,302 006,30101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
16,BK,7,21,302,21.0,2008.0,13.0,33.0,11201.0,E205,...,NaN,302 006,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
17,BK,12,1,302,21.0,3003.0,13.0,33.0,11201.0,L118,...,NaN,302 008,30101.0,NaN,0.000000e+00,NaN,1,NaN,NaN,18V1
18,BK,16,1,302,21.0,1001.0,13.0,33.0,11201.0,E205,...,NaN,302 006,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
19,BK,16,5,302,21.0,1001.0,13.0,33.0,11201.0,E205,...,NaN,302 006,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
20,BK,16,17,302,21.0,1001.0,13.0,33.0,11201.0,E205,...,NaN,302 006,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
21,BK,18,1,302,21.0,2002.0,13.0,33.0,11201.0,L118,...,NaN,302 006,30101.0,E-231,0.000000e+00,NaN,1,1.0,1.0,18V1
22,BK,19,1,302,21.0,2003.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,E-231,0.000000e+00,NaN,1,1.0,1.0,18V1
23,BK,20,1,302,21.0,3008.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,E-231,0.000000e+00,NaN,1,1.0,1.0,18V1
24,BK,20,6,302,21.0,3008.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
25,BK,20,14,302,21.0,3008.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,E-231,0.000000e+00,NaN,1,NaN,NaN,18V1
26,BK,20,21,302,21.0,3008.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,E-231,0.000000e+00,NaN,1,NaN,NaN,18V1
27,BK,20,29,302,21.0,3008.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,E-231,0.000000e+00,NaN,1,NaN,NaN,18V1
28,BK,20,7501,302,21.0,3008.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,3.000200e+09,02/06/2014,1,NaN,NaN,18V1
29,BK,21,1,302,21.0,3007.0,13.0,33.0,11201.0,L118,...,NaN,302 008,30101.0,NaN,0.000000e+00,NaN,1,NaN,NaN,18V1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277286,BK,8955,316,315,628.0,2009.0,22.0,46.0,11229.0,E321,...,NaN,319 036,32605.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
277287,BK,8955,320,315,628.0,2009.0,22.0,46.0,11229.0,E321,...,NaN,319 036,32605.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
277288,BK,8955,322,315,628.0,2009.0,22.0,46.0,11229.0,E321,...,NaN,319 036,32605.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
277289,BK,8955,326,315,628.0,2009.0,22.0,46.0,11229.0,E321,...,NaN,319 036,32605.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
277290,BK,8955,328,315,628.0,2009.0,22.0,46.0,11229.0,E321,...,NaN,319 036,32605.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
277291,BK,8955,332,315,628.0,2009.0,22.0,46.0,11229.0,E321,...,NaN,319 036,32605.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
277292,BK,8955,334,315,628.0,2009.0,22.0,46.0,11229.0,E321,...,NaN,319 036,32605.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
277293,BK,8955,336,315,628.0,2009.0,22.0,46.0,11229.0,E321,...,NaN,319 036,32605.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
277294,BK,8955,338,315,628.0,2009.0,22.0,46.0,11229.0,E321,...,NaN,319 036,32605.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
277295,BK,8955,340,315,628.0,2009.0,22.0,46.0,11229.0,E321,...,NaN,319 036,32605.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
277296,BK,8955,342,315,628.0,2009.0,22.0,46.0,11229.0,E321,...,NaN,319 036,32605.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
277297,BK,8955,344,315,628.0,2009.0,22.0,46.0,11229.0,E321,...,NaN,319 036,32605.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
277298,BK,8955,346,315,628.0,2009.0,22.0,46.0,11229.0,E321,...,NaN,319 036,32605.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
277299,BK,8955,348,315,628.0,2009.0,22.0,46.0,11229.0,E321,...,NaN,319 036,32605.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
277300,BK,8955,350,315,628.0,2009.0,22.0,46.0,11229.0,E321,...,NaN,319 036,32605.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
277301,BK,8955,354,315,628.0,2010.0,22.0,46.0,11229.0,E321,...,NaN,319 036,32605.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
277302,BK,8955,360,315,628.0,2010.0,22.0,46.0,11229.0,E321,...,NaN,319 036,32605.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
277303,BK,8955,362,315,628.0,2010.0,22.0,46.0,11229.0,E321,...,NaN,319 036,32605.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
277304,BK,8955,364,315,628.0,2010.0,22.0,46.0,11229.0,E321,...,NaN,319 036,32605.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
277305,BK,8955,368,315,628.0,2010.0,22.0,46.0,11229.0,E321,...,NaN,319 036,32605.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
277306,BK,8955,370,315,628.0,2010.0,22.0,46.0,11229.0,E321,...,NaN,319 036,32605.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
277307,BK,8955,374,315,628.0,2010.0,22.0,46.0,11229.0,E321,...,NaN,319 036,32605.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
277308,BK,8955,376,315,628.0,2010.0,22.0,46.0,11229.0,E321,...,NaN,319 036,32605.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
277309,BK,8955,378,315,628.0,2010.0,22.0,46.0,11229.0,E321,...,NaN,319 036,32605.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
277310,BK,8955,380,315,628.0,2010.0,22.0,46.0,11229.0,E321,...,NaN,319 036,32605.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
277311,BK,8955,382,315,628.0,2010.0,22.0,46.0,11229.0,E321,...,NaN,319 036,32605.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
277312,BK,8955,384,315,628.0,2010.0,22.0,46.0,11229.0,E321,...,NaN,319 036,32605.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
277313,BK,8955,386,315,628.0,2010.0,22.0,46.0,11229.0,E321,...,NaN,319 036,32605.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
277314,BK,8955,388,315,628.0,NaN,22.0,46.0,11229.0,E321,...,NaN,319 036,32605.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
277315,BK,8955,392,315,628.0,NaN,22.0,46.0,11229.0,E321,...,NaN,319 036,32605.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1

In [14]:
manhattan_df.head(10)

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_Flag,PFIRM15_Flag,Version
0,MN,1,10,101,5.0,1011.0,2.0,1.0,10004.0,E007,...,Y,199 999,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
1,MN,1,101,101,1.0,1001.0,2.0,1.0,10004.0,E007,...,Y,199 999,10101.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
2,MN,1,201,101,1.0,1000.0,2.0,1.0,10004.0,E007,...,NaN,199 999,10101.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
3,MN,1,301,101,NaN,NaN,2.0,1.0,10004.0,E007,...,NaN,199 999,10101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
4,MN,1,401,101,NaN,NaN,2.0,1.0,10004.0,E007,...,NaN,1 99 999,10101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
5,MN,2,1,101,9.0,1025.0,2.0,1.0,10004.0,L015,...,NaN,101N100,10101.0,NaN,1.000020e+09,08/07/2012,1,1.0,1.0,18V1
6,MN,2,2,101,9.0,1025.0,2.0,1.0,10004.0,L015,...,NaN,11N 100,10101.0,NaN,1.000020e+09,08/07/2012,1,1.0,1.0,18V1
7,MN,2,3,101,9.0,NaN,2.0,1.0,10004.0,L015,...,NaN,101N100,10101.0,NaN,1.000020e+09,08/07/2012,1,1.0,1.0,18V1
8,MN,2,23,101,9.0,1025.0,2.0,1.0,10004.0,L015,...,NaN,101N100,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
9,MN,3,1,101,319.0,1000.0,2.0,1.0,10004.0,L015,...,NaN,101S087,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1

In [15]:
brooklyn_df.head(10)

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version
0,BK,1,1,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,3.000010e+09,11/26/2013,1,1.0,1.0,18V1
1,BK,1,50,302,21.0,2000.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,E-231,0.000000e+00,NaN,1,1.0,1.0,18V1
2,BK,1,7501,302,21.0,2000.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,3.000010e+09,03/04/2016,1,1.0,1.0,18V1
3,BK,3,1,302,21.0,3002.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
4,BK,3,5,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
5,BK,3,35,302,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,302 007,3.0,NaN,NaN,NaN,5,NaN,NaN,18V1
6,BK,5,1,302,21.0,3001.0,13.0,33.0,11201.0,L118,...,NaN,302 008,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
7,BK,5,8,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,300 000,30101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
8,BK,6,1,302,21.0,3000.0,13.0,33.0,11201.0,E207,...,NaN,302 009,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
9,BK,6,10,302,21.0,NaN,13.0,33.0,11201.0,E207,...,NaN,302 009,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1

In [16]:
manhattan_df.columns

Index(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'ZipCode', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'LandUse', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_Flag', 'PFIRM15_Flag', 'Version'],
      dtype='object')

In [17]:
brooklyn_df.columns

Index(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'ZipCode', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'LandUse', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_FLAG', 'PFIRM15_FLAG', 'Version'],
      dtype='object')

In [18]:
manhattan_df.drop(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_Flag', 'PFIRM15_Flag', 'Version'],
        axis=1, inplace=True)


#kept zipcode and landuse. axis=1 refers to the columns without it, no output. inplace=True means/ 
#that we want to keep it as we told python so when we head it only the two columns are shown/
#otherwise it reverts back to the original df

In [19]:
manhattan_df.head(10)

   ZipCode  LandUse
0  10004.0      8.0
1  10004.0      8.0
2  10004.0      NaN
3  10004.0      7.0
4  10004.0      7.0
5  10004.0      7.0
6  10004.0      7.0
7  10004.0      7.0
8  10004.0      7.0
9  10004.0      9.0

In [20]:
brooklyn_df.drop(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_FLAG', 'PFIRM15_FLAG', 'Version'],
      axis=1, inplace=True)

#kept zipcode and landuse. axis=1 (0=rows?) refers to the columns without it, no output. inplace=True means/ 
#that we want to keep it as we told python so when we head it only the two columns are shown/
#otherwise it reverts back to the original df

In [21]:
brooklyn_df.head(10)

   ZipCode  LandUse
0  11201.0     11.0
1  11201.0      5.0
2  11201.0      4.0
3  11201.0      7.0
4  11201.0      7.0
5      NaN      NaN
6  11201.0      7.0
7  11201.0      7.0
8  11201.0      7.0
9  11201.0      7.0

In [22]:
manhattan_df.groupby('LandUse').LandUse.count() 
manhattan_df.head(10)
# This doesn't return what I wanted, see below for proper code

   ZipCode  LandUse
0  10004.0      8.0
1  10004.0      8.0
2  10004.0      NaN
3  10004.0      7.0
4  10004.0      7.0
5  10004.0      7.0
6  10004.0      7.0
7  10004.0      7.0
8  10004.0      7.0
9  10004.0      9.0

In [23]:
mn_zipland_df = manhattan_df.groupby(by='LandUse').count() #name the new df by creating a unique = variable

In [24]:
mn_zipland_df.reset_index(inplace=True) 

#reset index is key, requires that the index is set up for the next step /
# inplace=True means that we want it to stay as the format

In [25]:
bk_zipland_df = brooklyn_df.groupby(by='LandUse').count()

In [26]:
bk_zipland_df.reset_index(inplace=True) 
bk_zipland_df

    LandUse  ZipCode
0       1.0   156271
1       2.0    66358
2       3.0     3437
3       4.0    22515
4       5.0     5743
5       6.0     4434
6       7.0     1040
7       8.0     4330
8       9.0      872
9      10.0     4229
10     11.0     6298

In [27]:
import numpy as np

In [28]:
mn_zipland_df.astype(int)

    LandUse  ZipCode
0         1     4019
1         2    16246
2         3     4881
3         4     7238
4         5     4465
5         6      726
6         7      386
7         8     2456
8         9      434
9        10      679
10       11     1199

In [29]:
mn_zipland_df = mn_zipland_df.astype(int)

In [30]:
mn_zipland_df

    LandUse  ZipCode
0         1     4019
1         2    16246
2         3     4881
3         4     7238
4         5     4465
5         6      726
6         7      386
7         8     2456
8         9      434
9        10      679
10       11     1199

In [31]:
bk_zipland_df.astype(int)

    LandUse  ZipCode
0         1   156271
1         2    66358
2         3     3437
3         4    22515
4         5     5743
5         6     4434
6         7     1040
7         8     4330
8         9      872
9        10     4229
10       11     6298

In [32]:
bk_zipland_df = bk_zipland_df.astype(int)
bk_zipland_df

    LandUse  ZipCode
0         1   156271
1         2    66358
2         3     3437
3         4    22515
4         5     5743
5         6     4434
6         7     1040
7         8     4330
8         9      872
9        10     4229
10       11     6298

In [33]:
mnbk_merge_df = pd.merge(mn_zipland_df, bk_zipland_df, on='LandUse')

In [34]:
mnbk_merge_df

    LandUse  ZipCode_x  ZipCode_y
0         1       4019     156271
1         2      16246      66358
2         3       4881       3437
3         4       7238      22515
4         5       4465       5743
5         6        726       4434
6         7        386       1040
7         8       2456       4330
8         9        434        872
9        10        679       4229
10       11       1199       6298

In [35]:
mnbk_merge_df.rename(columns= {'ZipCode_x': 'MN_zip', 'ZipCode_y': 'BK_zip'}, inplace=True)

In [36]:
mnbk_merge_df

    LandUse  MN_zip  BK_zip
0         1    4019  156271
1         2   16246   66358
2         3    4881    3437
3         4    7238   22515
4         5    4465    5743
5         6     726    4434
6         7     386    1040
7         8    2456    4330
8         9     434     872
9        10     679    4229
10       11    1199    6298

In [37]:
mnbk_merge_df.replace([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], ['One & Two Family Buildings', 'Multi-Family Walk-Up Buildings',
                      'Multi-Family Elevator Buildings', 'Mixed Residential & Commercial Buildings', 
                      'Commercial & Office Buildings', 'Industrial & Manufacturing', 'Transportation & Utility',
                      'Public Facilities & Institutions', 'Open Space & Outdoor Recreation', 'Parking Facilities',
                      'Vacant Land'], inplace=True)

In [38]:
mnbk_merge_df

                                     LandUse  MN_zip  BK_zip
0                 One & Two Family Buildings    4019  156271
1             Multi-Family Walk-Up Buildings   16246   66358
2            Multi-Family Elevator Buildings    4881    3437
3   Mixed Residential & Commercial Buildings    7238   22515
4              Commercial & Office Buildings    4465    5743
5                 Industrial & Manufacturing     726    4434
6                   Transportation & Utility     386    1040
7           Public Facilities & Institutions    2456    4330
8            Open Space & Outdoor Recreation     434     872
9                         Parking Facilities     679    4229
10                               Vacant Land    1199    6298

In [39]:
mnbk_merge_df['luration'] = mnbk_merge_df.MN_zip / mnbk_merge_df.BK_zip

In [40]:
mnbk_merge_df.MN_zip / mnbk_merge_df.BK_zip

0     0.025718
1     0.244824
2     1.420134
3     0.321475
4     0.777468
5     0.163735
6     0.371154
7     0.567206
8     0.497706
9     0.160558
10    0.190378
dtype: float64

In [41]:
mnbk_merge_df

                                     LandUse  MN_zip  BK_zip  luration
0                 One & Two Family Buildings    4019  156271  0.025718
1             Multi-Family Walk-Up Buildings   16246   66358  0.244824
2            Multi-Family Elevator Buildings    4881    3437  1.420134
3   Mixed Residential & Commercial Buildings    7238   22515  0.321475
4              Commercial & Office Buildings    4465    5743  0.777468
5                 Industrial & Manufacturing     726    4434  0.163735
6                   Transportation & Utility     386    1040  0.371154
7           Public Facilities & Institutions    2456    4330  0.567206
8            Open Space & Outdoor Recreation     434     872  0.497706
9                         Parking Facilities     679    4229  0.160558
10                               Vacant Land    1199    6298  0.190378

In [42]:
def mnwins(data): 
    if data < 1:
        return 'False'
    else:
        return 'True'

In [43]:
mnbk_merge_df['Manhattan Wins']= mnbk_merge_df['luration'].apply(mnwins)

In [44]:
mnbk_merge_df

,LandUse,MN_zip,BK_zip,luration,Manhattan Wins
0,One & Two Family Buildings,4019,156271,0.025718,False
1,Multi-Family Walk-Up Buildings,16246,66358,0.244824,False
2,Multi-Family Elevator Buildings,4881,3437,1.420134,True
3,Mixed Residential & Commercial Buildings,7238,22515,0.321475,False
4,Commercial & Office Buildings,4465,5743,0.777468,False
5,Industrial & Manufacturing,726,4434,0.163735,False
6,Transportation & Utility,386,1040,0.371154,False
7,Public Facilities & Institutions,2456,4330,0.567206,False
8,Open Space & Outdoor Recreation,434,872,0.497706,False
9,Parking Facilities,679,4229,0.160558,False
10,Vacant Land,1199,6298,0.190378,False

Conclusion: The table shows that Multi-family elevator buildings are the only Land Use type where Manhattan has a large number of buildings than Brooklyn. This would make sense as there is a high density of taller residential buildings in Manhattan.